@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  height: 100%;
  width: 100%;
}

* {
  outline: none;
  border: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

li {
  list-style: none;
}

.logo {
  font-weight: bold;
}

.smooth,
.nav-top a {
  transition: all 0.7s;
}

.schedule-btn {
  border-radius: 0.5em;
  transition: all 0.7s;
}

.schedule-btn:hover {
  background-color: #333333;
}

.more-detail-btn {
  background-color: #2196f3 !important;
  border-radius: 0.4em;
  transition: all 0.3s;
  margin: 0 auto;
  margin-top: 1em;
}

.more-detail-btn:hover {
  background-color: #1389ea !important;
  color: white !important;
}

.operations {
  width: 100%;
  display: flex;
  justify-content: center;
}

.clinicas-grid {
  display: grid;
  width: 100%;
  grid-gap: 0.7em;
  grid-template-columns: 1fr 1fr 1fr;
}

.clinica-item {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(255, 0, 0, 0.25) 0px 2px 5px -1px,
    rgba(255, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: opacity 0.3;
}

.clinica-item:hover {
  opacity: 0.95;
}

.border-top {
  border-radius: 0.4em 0.4em 0 0;
}

.border-bottom {
  border-radius: 0 0 0.4em 0.4em;
}

.wrap-filters {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #1389ea;
  margin: 0 0 1.5em 0;
  border-radius: 0.6em;
  padding: 0.6em 1em;
}

input[type="text"]:focus {
  outline: none;
  border: none;
}

input[type="text"] {
  outline: none;
  border: none;
  background-color: white;
  padding: 8px 3px;
  border-radius: 0 2px 2px 0;
  width: 300px;
  padding-left: 1em;
}

select {
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: white;
  padding: 9px 3px;
  width: 300px;
  margin-right: 8px;
}

.search-input {
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
  padding-left: 6px;
  margin-left: 12px;
}

.search-input>i {
  font-size: 1.2em;
  border-radius: 4px;
  margin: 3px;
  cursor: pointer;
}

.wrap-content {
  display: block;
  width: 100%;
  padding: 1em 7vw;
}

.wrap-content>h1 {
  text-align: center;
}

.clinica-wrap {
  display: flex;
  width: 100%;
}

.clinica-info {
  position: relative;
  border: solid 1px black;
  border-radius: 0.8em;
  margin: 0.4em;
  min-height: 170vh;
  padding: 0.3em;
}

.clinica-wrap .left-info {
  width: 25%;
}

.clinica-wrap .right-info {
  flex: 1;
}

.basic-info {
  margin-top: 2em;
}

.basic-info strong {
  display: block;
  text-align: center;
  margin-bottom: 1em;
}

.basic-info>p {
  margin: 0;
  margin-bottom: 0.4em;
}

.text-bold {
  font-weight: bold;
}

.clinica-info>.actions {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
}

.clinica-info>.localization {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 1em;
}

.btn-schedule {
  width: 200px;
  border-radius: 3px;
  padding: 5px;
  background-color: #1389ea;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 0px;
}

.btn-schedule:hover {
  background-color: #077bdb;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.info-section {
  width: 100%;
  margin-bottom: 0.5em;
}

.info-section>h2 {
  font-size: 1.6em;
  text-align: center;
}

.info-section .info-content {
  padding: 0.5em;
  background-color: #2195f378;
  border-radius: 8px;
  color: rgb(0, 0, 0);
}

.info-section p.about {
  text-align: center;
  padding: 0 1em;
}

.especialidade-row {
  display: flex;
  justify-content: center;
}

span.especialidade {
  display: inline-block;
  background-color: #168ae9;
  color: white;
  font-weight: bold;
  padding: 0.4em 0.8em;
  border-radius: 8px;
  margin: 0.2em;
}

.agenda-semana {
  display: flex;
}

.agenda-semana .semana {
  margin: 0.3em;
  flex: 1;
  min-height: 300px;
}

.semana .dia {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #168ae9;
  width: 100%;
  height: 80px;
  border-radius: 8px 8px 0 0;
  margin-bottom: 0.4em;
  color: white;
  font-size: 1.3em;
}

.semana .horario {
  background-color: #168ae9c2;
  width: 100%;
  min-height: 80px;
  border-radius: 6px;
  color: white;
  margin: .3em 0;
}

.horario .horas {
  font-weight: normal;
  display: block;
  text-align: center;
  font-size: .9em;
}

.horario .atuacoes {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: .4em;
}

.horario .atuacoes>li {
  display: block;
  font-size: .7em;
}


.profissionais {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  overflow: visible;
}

.card {
  background-color: #168ae979;
  width: 180px;
  height: 240px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: .5em;
  transition: box-shadow .5s;
}

.card:hover {
  box-shadow: rgba(50, 50, 93, 0.15) 0px 13px 27px -5px, rgba(0, 0, 0, 0.2) 0px 8px 16px -8px;
}

.card>img {
  width: 100%;
  height: 180px;
  border-radius: 8px 8px 0 0;
}

.profissionais .prof-especialidade {
  display: block;
  text-align: center;
  font-size: .9em;
  opacity: .85;
}

.profissionais .prof-nome {
  display: block;
  text-align: center;
  font-size: 1.15em;
  margin-top: 3px;
}